/*==================================================
共通　横並びのための設定
===================================*/

.gnavi{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    list-style: none;
  }
  
  .gnavi li a{
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  
  /*==================================================
  　5-3-1 中心から外に線が伸びる（下部）
  ===================================*/
  
  .gnavi li a{
    /*線の基点とするためrelativeを指定*/
  position: relative;
  }
  
  .gnavi li.current a,
  .gnavi li a:hover{
  color:#0481A2;
  }
  
  .gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#0481A2;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
  }
  
  /*現在地とhoverの設定*/
  .gnavi li.current a::after,
  .gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
  }
  
  
  /*========= ページトップのためのCSS ===============*/
  /*リンクの形状*/
  #page-top a{
    display: flex;
    justify-content:center;
    align-items:center;
    background:#0481A2;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase; 
    text-decoration: none;
    font-size:0.6rem;
    transition:all 0.3s;
  }
  
  #page-top a:hover{
    background: #777;
  }
  
  /*リンクを右下に固定*/
  #page-top {
    position: fixed;
    right: 10px;
    z-index: 2;
      /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove1{
    animation: UpAnime1 0.5s forwards;
  }
  @keyframes UpAnime1{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove1{
    animation: DownAnime1 0.5s forwards;
  }
  @keyframes DownAnime1{
    from {
      opacity: 1;
    transform: translateY(0);
    }
    to {
      opacity: 1;
    transform: translateY(100px);
    }
  }
  
  small{
    color:#fff;
    display: block;
    text-align: center;
  }
  
  
  
  
  /*========= ナビゲーションのためのCSS ===============*/
  
  #g-nav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
  z-index: -1;
  opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
  top:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#ccc;
    /*動き*/
  transition: all 0.3s;
  }
  
  /*アクティブクラスがついたら透過なしにして最前面へ*/
  #g-nav.panelactive{
  opacity: 1;
  z-index:999;
  }
  
  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  /*ナビゲーション*/
  #g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  #g-nav.panelactive ul {
    display: block;
  }
  
  /*リストのレイアウト設定*/
  
  #g-nav li{
  list-style: none;
    text-align: center; 
  }
  
  #g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  }
  
  /*========= ボタンのためのCSS ===============*/
  .openbtn1{
  position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
    width: 50px;
    height:50px;
  }
  
  .openbtn1 p{
    font-size: 0.8rem;
    margin-top: 40px;
    margin-left: 5px;
    color: #0481A2;
  }
  
  /*×に変化*/  
  .openbtn1 span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #0481A2;
    width: 45%;
  }
  
  .openbtn1 span:nth-of-type(1) {
  top:15px; 
  }
  
  .openbtn1 span:nth-of-type(2) {
  top:23px;
  }
  
  .openbtn1 span:nth-of-type(3) {
  top:31px;
  }
  
  .openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  
  .openbtn1.active span:nth-of-type(2) {
  opacity: 0;
  }
  
  .openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  
  
  
  /*========= スクロールダウンのためのCSS ===============*/
  
  /*====== 9-1-1 縦線が動いてスクロールを促す =======*/
  
  /*スクロールダウン全体の場所*/
  .scrolldown1{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  left:50%;
  bottom:10px;
    /*全体の高さ*/
  height:50px;
  }
  
  /*Scrollテキストの描写*/
  .scrolldown1 span{
    /*描画位置*/
  position: absolute;
  left:-15px;
  top: -15px;
    /*テキストの形状*/
  color: #000000;
  font-size: 1.0rem;
  letter-spacing: 0.05em;
  }
  
  /* 線の描写 */
  .scrolldown1::after{
  content: "";
    /*描画位置*/
  position: absolute;
  top: 0;
    /*線の形状*/
  width: 1px;
  height: 30px;
  background: #000000;
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
  }
  
  /*高さ・位置・透過が変化して線が上から下に動く*/
  @keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
  }
  
  
  /* ボタン共通設定 */
  .btn03{
    /*影の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  
    text-align: center;
    background: transparent;
    border-radius: 25px;
    border: solid 1px #333;
    outline: none;
    /*アニメーションの指定*/
    transition: all 0.2s ease;
  }
  
  /*hoverをした後のボタンの形状*/
  .btn03:hover{
  border-color:transparent; 
  }
  
  /*ボタンの中のテキスト*/
  .btn03 span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /*テキストの形状*/
  display: block;
    padding: 10px 30px;
  background:#fff;
  border-radius: 25px;
  color:#333;
    /*アニメーションの指定*/
    transition: all 0.3s ease;
  }
  
  /*== 右下に押し込まれる（立体が平面に） */
  
  /*影の設定*/
  .pushright:before {
    content: "";
    /*絶対配置で影の位置を決める*/
    position: absolute;
  z-index: -1;
    top: 4px;
    left: 4px;
    /*影の形状*/
    width: 100%;
    height: 100%;
  border-radius: 25px;
    background-color: #333;
  }
  
  /*hoverの際にX・Y軸に4pxずらす*/
  .pushright:hover span {
  background-color: #333;
  color: #fff;
  transform: translate(4px, 4px);
  }
  
  
  /*== ボタン共通設定 */
  .btn2{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    border: 1px solid #555;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .2s;
  }
  
  /*ボタン内spanの形状*/
  .btn2 span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color:#333;
  }
  
  .btn2:hover span{
  color:#fff;
  }
  
  /*== 背景が流れる（左から右） */
  .bgleft:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background:#333;/*背景色*/
  width: 100%;
  height: 100%;
    /*アニメーション*/
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
  }
  
  /*hoverした際の形状*/
  .bgleft:hover:before{
  transform-origin:left top;
  transform:scale(1, 1);
  }
  
  
  /*==================================================
  背景色が伸びて出現
  ===================================*/
  
  /*全共通*/
  
  .bgextend{
    animation-name:bgextendAnimeBase;
    animation-duration:1s;
    animation-fill-mode:forwards;
    position: relative;
    overflow: hidden;/*　はみ出た色要素を隠す　*/
    opacity:0;
  }
  
  @keyframes bgextendAnimeBase{
    from {
      opacity:0;
    }
  
    to {
      opacity:1;  
  }
  }
  
  /*中の要素*/
  .bgappear{
    animation-name:bgextendAnimeSecond;
    animation-duration:1s;
    animation-delay: 0.6s;
    animation-fill-mode:forwards;
    opacity: 0;
  }
  
  @keyframes bgextendAnimeSecond{
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
  }
  }
  
  /*左から右*/
  .bgLRextend::before{
    animation-name:bgLRextendAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #0481A2;/*伸びる背景色の設定*/
  }
  @keyframes bgLRextendAnime{
    0% {
      transform-origin:left;
      transform:scaleX(0);
    }
    50% {
      transform-origin:left;
      transform:scaleX(1);
    }
    50.001% {
      transform-origin:right;
    }
    100% {
      transform-origin:right;
      transform:scaleX(0);
    }
  }
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
  .bgappearTrigger,
  .bgLRextendTrigger{
      opacity: 0;
  }
  
  
  /*========= バー表示のためのCSS ===============*/
  
  .scrollgress{
    z-index: 3;/*他のposition指定しているエリアより前に出すためz-indexの数字を大きく*/
    top:0px!important;/* fixedで設置しているheaderの高さよりも下にバーを出す*/
  }
  
  
  
  
  /*========= ローディング画面のためのCSS ===============*/
  #splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 9999999;
    text-align:center;
    color:#fff;
  }
  
  #splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  /*========= 画面遷移のためのCSS ===============*/
  
  /*画面遷移アニメーション*/
  .splashbg{
      display: none;
  }
  
  /*bodyにappearクラスがついたら出現*/
  body.appear .splashbg{
      display: block;
      content: "";
      position:fixed;
    z-index: 999;
      width: 100%;
      height: 100vh;
      top: 0;
    left: 0;
      transform: scaleY(0);
      background-color: #333;/*伸びる背景色の設定*/
    animation-name:PageAnime;
    animation-duration:1.2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
  
  }
  
  @keyframes PageAnime{
    0% {
      transform-origin:bottom;
      transform:scaleY(0);
    }
    50% {
      transform-origin:bottom;
      transform:scaleY(1);
    }
    50.001% {
      transform-origin:top;
    }
    100% {
      transform-origin:top;
      transform:scaleY(0);
    }
  }
  
  /*画面遷移の後現れるコンテンツ設定*/
  
  #container{
    opacity: 0;/*はじめは透過0に*/
  }
  
  /*bodyにappearクラスがついたら出現*/
  body.appear #container{
    animation-name:PageAnimeAppear;
    animation-duration:1s;
    animation-delay: 0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
  }
  
  @keyframes PageAnimeAppear{
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
  }
  


  /*========= スクロール途中でヘッダーが表示＆非表示するためのCSS ===============*/

#header{
    /*fixedで上部固定*/
  position: fixed;
  height: 70px;
  width:100%;
    z-index: 998;/*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

/*　上に上がる動き　*/

#header.UpMove{
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 0;
  transform: translateY(-100px);
  }
}

/*　下に下がる動き　*/

#header.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 0;
  transform: translateY(-100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*========= レイアウトのためのCSS ===============*/

#header h1{
  font-size:1.2rem;
}

#header h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

#header p{
  margin-top:20px;  
}

#header small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


#header nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

#header nav ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding:10px;
  transition:all 0.3s;
  font-size: 0.9rem;
  margin-right: 20px;
}

#header a:hover {
    opacity: 0.5;
    transition:all 0.3s;
  }


  #particles-js{ 
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color:#f0f0f0;/*背景色*/
  }