@charset "UTF-8";
/*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #24292e;
  font-family: "Sawarabi Gothic";
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem;
}

img {
  max-width: 100%; /* スマホサイズでも画像が縮小される。 */
}

li {
  list-style: none;
  font-size: 1.2rem;
}

/* wrapperは共通 */
.wrapper {
  max-width: 960px;
  margin: 230px auto 130px auto;
  font-size: 0.9rem; /* root em 最上位階層のHTML要素であるHTMLの文字サイズを基準とした相対値。HTMLの文字サイズを変更することで全体の文字サイズも変更できる */
  padding: 0 4%;
}

/* contents用wrapper */
.wrapper-contents {
  max-width: 1200px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

.site-title {
  font-weight: 600;
  font-size: 2.0rem;
}

.site-title a {
  display: block;
  color: #24292e;
}

.site-title-footer {  
  font-weight: 600;
  font-size: 1.5rem;
}

.site-title-footer a {
  display: block;
  color: #24292e;
}

.sec-title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 65px;
}



/*----------------------------------------------
ヘッダー
------------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 170px;
  margin: 0 auto;
  padding: 0 4%;
}

#header ul {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

#header li {
  font-size: 0.9rem;
  margin-left: 30px;
}

header li a {
  color: #24292e;
  transition: all 0.3s;
}

#header li a:hover {
  opacity: 0.5;
}

#header li img.icon {
  width: 30px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 400px;
  object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .sec-title span{
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 1.2rem;
 }

#about ul {
  margin-bottom: 30px;
}

#about ul li {
  margin-bottom: 3px;
}

#about ul li:first-child {
  margin-bottom: 30px;
}

#about p {
  text-align: justify;
  font-size: 1.0rem;
}


/*-------------------------------------------
contents
-------------------------------------------*/
#contents h2{
  text-align: center;
  margin:0 0 100px 0;
}

#contents p {
  font-size: 1.1rem;
}

#contents .contents-area{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0 0 300px 0;
}

#contents .contents-area::after{
  content:'';
 position: absolute;
 width: 70%;
 height: 23em;
 background:#f3f3f3;
 right:10%;
 top:20%;
 z-index: -1;
}


#contents .contents-area:nth-of-type(2n){
  flex-direction: row-reverse;
}


#contents .contents-area .img{
 width:50%;
}

#contents .contents-area .content{
 width:40%;
 max-height: 400px;
 background:#fff;
 box-shadow: 0 0 20px #ccc;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top:150px;
}

#contents .contents-area .content-area{
  padding:40px;   
}

#contents .contents-area .content-area h3{
   text-align: center;
  font-size: 1rem;
  margin: 0 0 30px 0;
}

#contents .contents-area .content-area h3 span{
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 1.2rem;
}

#contents .contents-area .content-area p{
   margin:0 0 30px 0;   
}

#contents .btn{
  text-align: right;
}


/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#works ul li {
  width: 31%;
  margin-bottom: 23px;
}

#works ul li img {
  cursor: pointer;
  width: 640px;
  max-height: 417px;
  transition: all 0.3s;
}

#works ul li img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.7;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact p {
  text-align: center;
  margin-bottom: 20px;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  border: solid 1px #24292e;
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  transition: all 0.3s;
}

#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

/*----------------------------------------------
フッター
------------------------------------------------*/
#footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #ccc;
}

#footer nav {
  display: flex;
}

#footer h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#footer ul {
  display: column;
  align-items: center;
  margin-left: 40px;
}

#footer li {
  font-size: 0.9rem;
}

footer li a {
  color: #24292e;
  transition: all 0.3s;
}

#footer li a:hover {
  opacity: 0.5;
}

#footer li img.icon {
  width: 30px;
}

/*----------------------------------------------
SP
------------------------------------------------*/

/* pcファースト　大きいサイズから小さいサイズへ */
/* 900pxより小さいときのcss適用 */
@media screen and (max-width: 900px) {
  /* フッター */
  .site-title-footer {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    margin: auto 0;
    padding: 0 4%;
    background-color: #ccc;
  }
  
  #footer nav {
    flex-direction: column;
  }
  
  #footer h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  #footer ul {
    display: column;
    align-items: center;
    margin-top: 15px;
  }
  
  #footer li {
    font-size: 0.9rem;
  }
  
  footer li a {
    color: #24292e;
    transition: all 0.3s;
  }
  
  #footer li a:hover {
    opacity: 0.5;
  }
  
  #footer li img.icon {
    width: 30px;
  }

}


/* 840pxより小さいときのcss適用 */
  /* ヘッダー */
@media screen and (max-width: 840px) {
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 20px;
    line-height: 40px;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  #header li img.icon {
    width: 20px;
    margin-top: 15px;
  }

  .site-title {
    margin-top: 20px;
  }

}


/* 600pxより小さいときのcss適用 */
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }

  .site-title{
    font-size: 1.5rem;
  }

  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  

    /* works */
    #works ul {
      flex-direction: column;
    }
  
    #works ul li {
      width: 100%;
    }

  /* news */
  #news dl {
    flex-direction: column;
  }

  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #news dd {
    width: 100%;
    padding-top: 0;
  }

  /* contact */
  #contact dl {
    flex-direction: column;
  }

  #contact dt {
    width: 100%;
    margin-bottom: 5px;
  }
  #contact dd {
    width: 100%;
  }
}


/* contents */
@media screen and (max-width:768px) {
  #contents .contents-area{
    margin:0 0 200px 0;   
  }

  #contents .contents-area .content{
  width:47%;
  top:100px;
  } 
}

@media screen and (max-width:590px) {
  #contents .contents-area{
  margin:0 0 50px 0;   
  }

  #contents .contents-area .img{
  width:100%;
  z-index: 2;
  }

  #contents .contents-area .content{
  width:100%;
  top:-10px;
  animation:none;
  opacity: 1;
  z-index: 1;
  }
}

@media screen and (max-width:550px) {
  #contents h2{
  margin:0 0 50px 0;
  }
}

/*==================================================
共通　横並びのための設定
===================================*/

.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  list-style: none;
}

.gnavi li a{
  display: block;
  text-decoration: none;
  color: #333;
}


/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnavi li a{
  /*線の基点とするためrelativeを指定*/
position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
color:#0481A2;
}

.gnavi li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background:#0481A2;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}


/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top a{
  display: flex;
  justify-content:center;
  align-items:center;
  background:#942D2F;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase; 
  text-decoration: none;
  font-size:0.6rem;
  transition:all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
}

small{
  color:#fff;
  display: block;
  text-align: center;
}




/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
  /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
  position:fixed;
z-index: -1;
opacity: 0;/*はじめは透過0*/
  /*ナビの位置と形状*/
top:0;
width:100%;
  height: 100vh;/*ナビの高さ*/
background:#999;
  /*動き*/
transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
opacity: 1;
z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  display: none;
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
  display: block;
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center; 
}

#g-nav li a{
color: #333;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
top:10px;
right: 10px;
cursor: pointer;
  width: 50px;
  height:50px;
}

.openbtn1 p{
  font-size: 0.9rem;
  margin-top: 40px;
}

/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
top:15px; 
}

.openbtn1 span:nth-of-type(2) {
top:23px;
}

.openbtn1 span:nth-of-type(3) {
top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}



/*========= スクロールダウンのためのCSS ===============*/

/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1{
  /*描画位置※位置は適宜調整してください*/
position:absolute;
left:50%;
bottom:10px;
  /*全体の高さ*/
height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
  /*描画位置*/
position: absolute;
left:-15px;
top: -15px;
  /*テキストの形状*/
color: #000000;
font-size: 1.0rem;
letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
content: "";
  /*描画位置*/
position: absolute;
top: 0;
  /*線の形状*/
width: 1px;
height: 30px;
background: #000000;
  /*線の動き1.4秒かけて動く。永遠にループ*/
animation: pathmove 1.4s ease-in-out infinite;
opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
0%{
  height:0;
  top:0;
  opacity: 0;
}
30%{
  height:30px;
  opacity: 1;
}
100%{
  height:0;
  top:50px;
  opacity: 0;
}
}


/* ボタン共通設定 */
.btn03{
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
text-decoration: none;
display: inline-block;

  text-align: center;
  background: transparent;
border-radius: 25px;
border: solid 1px #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
}

/*hoverをした後のボタンの形状*/
.btn03:hover{
border-color:transparent; 
}

/*ボタンの中のテキスト*/
.btn03 span {
position: relative;
z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
display: block;
  padding: 10px 30px;
background:#fff;
border-radius: 25px;
color:#333;
  /*アニメーションの指定*/
  transition: all 0.3s ease;
}

/*== 右下に押し込まれる（立体が平面に） */

/*影の設定*/
.pushright:before {
  content: "";
  /*絶対配置で影の位置を決める*/
  position: absolute;
z-index: -1;
  top: 4px;
  left: 4px;
  /*影の形状*/
  width: 100%;
  height: 100%;
border-radius: 25px;
  background-color: #333;
}

/*hoverの際にX・Y軸に4pxずらす*/
.pushright:hover span {
background-color: #333;
color: #fff;
transform: translate(4px, 4px);
}


/*==================================================
背景色が伸びて出現
===================================*/

/*全共通*/

.bgextend{
  animation-name:bgextendAnimeBase;
  animation-duration:1s;
  animation-fill-mode:forwards;
  position: relative;
  overflow: hidden;/*　はみ出た色要素を隠す　*/
  opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
  animation-name:bgextendAnimeSecond;
  animation-duration:1s;
  animation-delay: 0.6s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes bgextendAnimeSecond{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
  animation-name:bgLRextendAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0481A2;/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}


/*========= バー表示のためのCSS ===============*/

.scrollgress{
  z-index: 3;/*他のposition指定しているエリアより前に出すためz-indexの数字を大きく*/
  top:0px!important;/* fixedで設置しているheaderの高さよりも下にバーを出す*/
}


