@charset "UTF-8";
/*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #24292e;
  font-family: "Noto Sans JP";
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem;
}

img {
  max-width: 100%; /* スマホサイズでも画像が縮小される。 */
}

li {
  list-style: none;
  font-size: 1.2rem;
}


/* wrapperは共通 */
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem; /* root em 最上位階層のHTML要素であるHTMLの文字サイズを基準とした相対値。HTMLの文字サイズを変更することで全体の文字サイズも変更できる */
  padding: 0 4%;
}

/* contents用wrapper */
.wrapper-contents {
  max-width: 1200px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0 4%;
}

/* execute用wrapper */
.wrapper-execute {
  background-color: #333;
  margin: 0 0 130px 0;
  width:100%;
  font-size: 0.9rem;
  padding: 0 4%;
}

.site-title {
  font-weight: 500;
  font-size: 2.3rem;
}

.site-title a {
  color:#333;
  margin-bottom: 5px;
}

.site-title-footer {  
  font-weight: 600;
  font-size: 1.5rem;
}

.site-title-footer a {
  display: block;
  color: #24292e;
}

.sec-title {
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 65px;
  color:#0481A2;
}

.sec-title-contents {
  font-size: 3.3rem;
  text-align: center;
  color:#0481A2;
}


/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  position: relative;
  margin-bottom: 80px;
}

#mainvisual img {
  width: 100%;
  margin-top: 0px;
  height: 680px;
  object-fit: cover;
}

/* lead */
#mainvisual .top-lead-eng {
  position: absolute;
  color: #182578;/*文字は白に*/
  font-family: "Lato", sans-serif;
  font-weight: 800; /*太字に*/
  font-size: 3rem;/*サイズ2倍*/
  top: 40%;
  left: 5%;
  line-height: 1.5;
  -webkit-text-stroke: 0.8px #fff;
  }

/*.marker{ background: linear-gradient(transparent 0%, rgba( 255, 255, 255, 0.65 ) 0%);} */

#mainvisual .top-lead-jpn {
  position: absolute;
  color: #182578;/*文字は白に*/
  font-family: "Lato", sans-serif;
  font-weight: 900; /*太字に*/
  font-size: 1.5rem;/*サイズ2倍*/
  top: 78%;
  left: 5%;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-text-stroke: 0.3px #fff;
  }


/*-------------------------------------------
scrolldown
-------------------------------------------*/
#scrolldown {
  position: relative;
  height: 100px;
  align-items: center;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about {
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color:#000;
}

#about .sec-title .eng{
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 2.0rem;
  color: #000;
 }

#about ul {
  margin-bottom: 30px;
}

#about ul li {
  margin-bottom: 3px;
}

#about ul li:first-child {
  margin-bottom: 30px;
}

#about p {
  text-align: center;
  padding: 4%;
  font-size: 1.2rem;
}



/*-------------------------------------------
contents
-------------------------------------------*/
#contents {
  margin-top: 300px;
}

#contents .sec-title h2{
  text-align: center;
  
}

.eng-contents{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: #000;
  margin:0 0 100px 0;
 }

#contents p {
  font-size: 1.1rem;
}

#contents .contents-area{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:0 0 300px 0;
}

#contents .contents-area::after{
  content:'';
 position: absolute;
 width: 70%;
 height: 23em;
 background:#f3f3f3;
 right:10%;
 top:20%;
 z-index: -1;
}


#contents .contents-area:nth-of-type(2n){
  flex-direction: row-reverse;
}


#contents .contents-area .img{
 width:50%;
}

#contents .contents-area .content{
 width:45%;
 max-height: 400px;
 background:#fff;
 box-shadow: 0 0 20px #ccc;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 top:150px;
}

#contents .contents-area .content-area{
  padding:20px;   
  text-align: center;
}

#contents .contents-area .content-area h3{
   text-align: center;
  font-size: 1.2rem;
  margin: 0 0 30px 0;
}

#contents .contents-area .content-area h3 span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
}

#contents .contents-area .content-area p{
   margin:0 0 30px 0;   
}

#contents .btn{
  text-align: right;
}




/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#works ul li {
  width: 31%;
  margin-bottom: 23px;
}

#works ul li img {
  cursor: pointer;
  width: 640px;
  max-height: 417px;
  transition: all 0.3s;
}

#works ul li img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.7;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}


/*-------------------------------------------
Execute
-------------------------------------------*/
#execute {
  margin-top: 200px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  color:#fff;
}

#execute .sec-title {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
  color:#fff;
}

#execute .sec-title .eng{
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  font-size: 1.2rem;
  color: #fff;
 }

#execute ul {
  margin-bottom: 30px;
}

#execute ul li {
  margin-bottom: 3px;
}

#execute ul li:first-child {
  margin-bottom: 30px;
}

#execute p {
  text-align: center;
  padding: 4%;
  font-size: 1.1rem;
}




/*-------------------------------------------
Contact
-------------------------------------------*/
#contact  {
  margin-top: 50px;
  margin-bottom: 250px;
  text-align: center;
}

#contact p {
  text-align: center;
  margin-bottom: 20px;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#contact dt {
  font-size: 1.0rem;
  width: 20%;
}

#contact dd {
  font-size: 1.0rem;
  width: 75%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

#contact dd textarea {
  height: 10rem;
}

#contact dd select {
  border: solid 1px #c8c8c8;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: all 0.3s;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  border: solid 1px #24292e;
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  transition: all 0.3s;
}

#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

/*----------------------------------------------
フッター
------------------------------------------------*/
#footer {
  width: 100%;
  display: column;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  margin: 0 auto;
  padding: 2% 4%;
  background-color: #ccc;
}

#footer nav {
  padding: 2% 2%;
  display: flex;
  justify-content: space-between;
}

#footer h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#footer ul {
  display: column;
  align-items: center;
  margin-left: 40px;
  width: 85%;
}

#footer li {
  font-size: 1.1rem;
}

#footer .list {
  justify-content: start;
}

#footer .list li {
  display: flex;
  align-items: center; /* 垂直中心 */
}
#footer .list li:before, .catch:after {
  border-top: 0.4px solid;
  content: "";
  width: 0.5em; /* 線の長さ */
}
#footer .list li:before {
  margin-right: 1em; /* 文字の右隣 */
}

footer li a {
  margin-top: 5px;
  color: #24292e;
  transition: all 0.3s;
}

#footer li a:hover {
  opacity: 0.5;
}

#footer li img.icon {
  width: 30px;
}

#footer .btn{
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 30px;
  align-items: center; 
}

#footer p{
  text-align: center;
  font-size: 1rem;
}

#footer img {
  margin-top: 20px;
}

/*----------------------------------------------
SP
------------------------------------------------*/

/* pcファースト　大きいサイズから小さいサイズへ */
/* 900pxより小さいときのcss適用 */
@media screen and (max-width: 900px) {
  /* フッター */
  .site-title-footer {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
    margin: auto 0;
    padding: 2% 4%;
    background-color: #ccc;
  }

  #footer nav {
    flex-direction: column;
  }
  
  #footer h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  #footer ul {
    display: column;
    align-items: center;
    margin-top: 15px;
  }
  
  #footer li {
    font-size: 0.9rem;
  }
  
  footer li a {
    color: #24292e;
    transition: all 0.3s;
  }
  
  #footer li a:hover {
    opacity: 0.5;
  }
  
  #footer li img.icon {
    width: 30px;
  }

}


/* 840pxより小さいときのcss適用 */
  /* ヘッダー */
@media screen and (max-width: 840px) {
/*  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
    margin-top: 20px;
    line-height: 40px;
  }

  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  #header li:first-child {
    margin-left: 0;
  }

  #header li img.icon {
    width: 20px;
    margin-top: 15px;
  }
*/
  #header li {
  display: none;
  }

  .site-title {
    margin-top: 20px;
  }


}


/* 600pxより小さいときのcss適用 */
@media screen and (max-width: 600px) {
  .wrapper {
    margin-bottom: 70px;
  }

  .site-title{
    font-size: 1.5rem;
  }

  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  .sec-title-contents {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  #about .sec-title .eng{
    font-size: 1.0rem;
   }

  .eng-contents{
    font-size: 0.9rem;
   }
  
  #execute .sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .sec-title-execute {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #mainvisual p{
    font-size: 2rem;
  }

  #mainvisual .top-lead-eng {
    font-size: 2.3rem;/*サイズ2倍*/
    }
  
  #mainvisual .top-lead-jpn {
    font-size: 1.1rem;
    }

    /*about*/
    #about p {
      font-size: 0.9rem;
    }

    /*contents*/


    /* works */
    #works ul {
      flex-direction: column;
    }
  
    #works ul li {
      width: 100%;
    }

  /* news */
  #news dl {
    flex-direction: column;
  }

  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }

  #news dd {
    width: 100%;
    padding-top: 0;
  }

    /*execute*/
    #execute .eng span {
      font-size: 1rem;
    }

    #execute p {
      font-size: 0.8rem;
    }

  /* contact */
  #contact dl {
    flex-direction: column;
  }

  #contact dt {
    width: 100%;
    margin-bottom: 5px;
  }
  #contact dd {
    width: 100%;
  }

  #contact p {
    font-size: 0.9rem;
  }

  #footer{
    height: 630px;
  }

  #footer ul{
    margin-left: 0;
  }

  #footer .list{
    display: none;
  }

  #footer .btn{
    margin-bottom: 50px;
  }

  #footer img{
    width: 175px;
    height: 45px;
  }

  #footer p {
    font-size: 0.8rem;
    margin-left: 30px;
    margin-right: 30px;
  }
}


/* contents */
@media screen and (max-width:768px) {
  #contents .contents-area{
    margin:0 0 200px 0;   
  }

  #contents .contents-area .content{
  width:47%;
  top:100px;
  } 
}

@media screen and (max-width:590px) {
  #contents .contents-area{
  margin:0 0 50px 0;   
  }

  #contents .contents-area .img{
  width:100%;
  z-index: 2;
  }

  #contents .contents-area .content{
  width:100%;
  top:-10px;
  animation:none;
  opacity: 1;
  z-index: 1;
  }
}

@media screen and (max-width:550px) {

}

/*top-lead*/
@media screen and (max-width:550px) {
  .top-lead{
    font-size:2.2rem;
    }
  }
  @media screen and (max-width:380px) {
  .top-lead{
    font-size:1.8rem;
    }
  }


  /* news */

#news1{
	position: relative;
    padding: 150px 0 100px 0;
    margin: 100px 0 100px 0;
    overflow: hidden;
    height: 850px;
}

@media screen and (max-width:840px) {
#news1{
    margin:0;
    padding: 50px 0;
    }
}

#news1:after{
	position: absolute;
	z-index: -1;
	content:'';
	top:100px;
	left:-30%;
	width:150%;
	height: 680px;
	background: #2e98e5;
	transform: rotate(-5deg);
}


#news1 .news-area{
    background:#fff;
    padding: 40px;
	box-shadow: 10px 10px 0 rgba(0,0,0,0.5);
    width:70%;
    margin: 0 auto;
    border-radius:10px;
}

#news1 h2{
	color: #fff;	
}

#news1 li a{
    transition: all 0.3s;
}

#news1 li a:hover{
     color: #666;    
}

#news1 article{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #333;
}

#news1 article time{
    padding: 0 2em 0 0;
    color: #666;
    font-size: 0.8rem;
}

#news1 article h3{
    font-size: 1rem;
}

@media screen and (max-width:840px) {
#news1 .news-area{
    width:90%;
}
    
#news1 article time,
#news1 article h3{
    width:100%;
}    
}

#news1 .icon-01,
#news1 .icon-01 canvas{
    position: absolute;
    bottom:-50px;
    right:50px;
    width: 100px;
}

#news1 .icon-02,
#news1 .icon-02 canvas{
    position: absolute;
    top:-60px;
    right:88px;
    width:80px;
}

#news1 .icon-03,
#news1 .icon-03 canvas{
    position: absolute;
    bottom:-130px;
    left:80px;
    width: 200px;
}

#news1 .icon-04,
#news1 .icon-04 canvas{
    position: absolute;
    top:10px;
    left:50px;
    width: 100px;
}
